<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:autocomplete => "off"}) do |f| %>
  <div class="row-fluid top10">
    <div class="span12">
      <%= f.text_field :username, :autofocus => true, :placeholder => "Username",:class=>"input-block-level" %>
    </div>
  </div>
  <div class="row-fluid top10">
    <div class="span12">
      <%= f.text_field :email, :placeholder=>"Email",:class=>"input-block-level" %>
    </div>
  </div>

  <div class="row-fluid top10">
    <div class="span12">
      <%= f.password_field :password, :placeholder=>"password",:class=>"input-block-level" %>
    </div>
  </div>

  <div class="row-fluid top10" style="margin-top:20px;">
    <div class="span12">
      <%= f.submit "Sign Up", :class=> "btn btn-primary", :id=>'submit_form_register'%>
      <%= link_to "Cancel", :back, :class=> "btn btn-danger" %>
    </div>
  </div>  

<% end %>